.perks-container {
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
  margin: 10px;
  padding: 10px;
}

.perks-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  margin: 5px;
}
